.header-container {
    margin-left: 85%;
    margin-bottom: 5%;
}

li {
    display: inline;    
}

.info-container{
    
}

body {
    background-color:white;
    margin-top: 20px; 
}

.img {
    float: center 
}

.header-container {
    background-color: #4aaaa5;
}

          