.container {
    margin-left: 85%;
    margin-bottom: 5%;
    display: flex;
}

li {
    display: inline;    
}


body {
    background-color:white;
    margin-top: 20px; 
}

.img {
    float: center 
}

.container {
    background-color: #4aaaa5;
}

          